.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 120px;
}
.header-link {
  display: flex;
  gap: 10%;
  font-family: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #e5e7eb;
}
.logo {
  display: flex;
  font-weight: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f9faf8;
}
.text {
  h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #f9faf8;
    margin-bottom: 10px;
  }
  p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #e5e7eb;
    margin-bottom: 30px;
  }
  button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    background-color: #3882f6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
  }
}
.hero {
  margin-top: 30px;
  display: inline-flex;
  justify-content: space-between;

  margin-bottom: 30px;
}
.text {
  margin-right: 600px;
}
.main {
  display: flex;
  width: 100%;
  background-color: #1f2937;
  height: 600px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.infotext {
  margin-top: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 36px;
  color: #1f2937;
  margin-bottom: 20px;
}
.cars {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 60px;
}
.cars img {
  height: 100px;
  width: 100px;
  border: 2px solid #3882f6;
}
.quote {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 36px;
  font-style: italic;
  background-color: #e5e7eb;
  padding: 40px;
  height: 100px;
  width: 100%;
  p {
    margin-left: 180px;
    margin-right: 160px;
  }
  h6 {
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    float: right;
    margin-right: 160px;
    font-weight: light;
  }
}
.Action {
  display: flex;
  margin-top: 60px;
  background-color: #3882f6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}
.Actiontext {
  margin-left: 60px;
}
footer {
  background-color: #1f2937;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

/* .img1 {
  border: 2px solid;
  border-color: #3882f6;
  padding-bottom: 0px;
  object-fit: cover;
  height: 100px;
  width: 100px;
}
.img2 {
  border: 2px solid;
  border-color: #3882f6;
  padding-bottom: 0px;
  object-fit: cover;
  height: 100px;
  width: 100px;
}
.img3 {
  border: solid;
  border-color: #3882f6;
  padding-bottom: 0px;
  object-fit: cover;
  height: 100px;
  width: 100px;
}
.img4 {
  border: 2px solid;
  border-color: #3882f6;
  padding-bottom: 0px;
  object-fit: cover;
  height: 100px;
  width: 100px;
} */
